
.s_pregnancy_calculator {
    margin: $grid-gutter-width/2 0;
    border: $alert-border-width solid;
    border-radius: $alert-border-radius;
}

// .s_pregnancy_calculator{
//     background-color: #61C3A2;

//     .pregnancy_container {
//         color: white;
//         letter-spacing: .05rem;
//         line-height: 1.7em;
//     }

//     .btn-outline-primary:hover{
//         background-color: #c3dfd5;
//     }
// }
